<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>prestacustommessage</name>
	<displayName><![CDATA[Banner with Custom Message]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Displays banner with custom message on homepage.]]></description>
	<author><![CDATA[Szymon Andrzejewski]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
